<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>
<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <span class="pr-2"><i class="fas fa-utensils"></i></span>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <span class="pr-2"><i class="fas fa-map-marker-alt"></i></span>
          地址：
        </span>
        {{restaurant.location}}
        <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
          <span class="pr-2"><i class="fas fa-location-arrow fa-xs"></i></span>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <span class="pr-2"><i class="fas fa-mobile-alt"></i></span>
          電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-5">
        {{restaurant.description}}
      </p>

      <img class="rounded mx-auto d-block mb-2 w-100" src="{{restaurant.image}}" alt="{{restaurant.name
      }}" style="max-width: 600px;">
      
    </div>
  </div>
    <div class="d-flex justify-content-end" style="width: 930px">
        <a href="/" style="text-decoration: none; color::#4592AF">
        <span class="pr-2"><i class="fas fa-reply" style="color:#4592AF"></i></span>
        </a>
    </div>
    
</div>